table {
  width: 100%;
}
.edit {
  margin-right: 10px;
}

.edit > i {
  color: #0242f1;
}

.edit > i {
  color: blue;
}

.edit:hover > i {
  color: darkblue;
}
.delete-icon {
  color: red;
  cursor: pointer;
  transition: color 0.3s ease;
}

.delete-icon:hover {
  color: darkred;
}