<mat-toolbar class="footer">
  <span>
    Desenvolvido por:

    <i class="material-icons v-middle"> school </i>
    Antonio Augusto Menezes de Oliveira e Marcos Netto| <strong
    >Tecnologias Utilizadas</strong> : 
  </span>
  
  <span>
    <a>
      <img class="logo v-middle" src="assets/img/angular_logo.png" alt="logo do angular" />
    </a>
  </span>
  <span>
    <a>
      <img class="logo v-middle" src="assets/img/ts_logo.png" alt="logo do typescript" />
    </a>
  </span>
  <span>
    <a>
      <img class="logo v-middle" src="assets/img/nodejs_logo.png" alt="logo nodejs" />
    </a>
  </span>
</mat-toolbar>
